<nav class="navbar navbar-expand-lg navbar-white myNav">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="https://media.licdn.com/dms/image/v2/D4D0BAQEK06GyLIFASw/company-logo_200_200/company-logo_200_200/0/1720422054586/t_systems_ict_india_pvt_ltd_logo?e=1750291200&v=beta&t=4tMfusp7f1cJt-KE1Rr22iaQjPKQKkyUphjq0FL0Ma4" alt="" class="d-inline-block align-text-top" style="width: 30%;">        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Add navbar items here if needed -->
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-primary round-button mx-2" type="button">Login</button>
                <button class="btn btn-outline-primary round-button mx-2" type="button">Register</button>
            </form>
        </div>
    </div>
</nav>

<section class="schedule-section spad pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>T-Systems Sales Day</h2>
                    <p>Browse various ongoing events</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="schedule-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
                                <h5>Day 1: Barcelona</h5>
                                <p>Mar 27, 2025</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">
                                <h5>Day 2: Madrid</h5>
                                <p>Apr 3, 2025</p>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://images.basaas.com/uploads/app/58b01a2a3faf0f1bbb3a1842/4a682572-f875-4998-8a24-d80a5251aff5-Pikto_Magenta_Beschriftet_360x360px.png?width=250" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>Open Telekom Cloud</h4>
                                                <h5>(Sovereignty)</h5>
                                                <ul>
                                                    <li><i class="fa fa-user"></i>David Mañas </li>
                                                    <!-- <li><i class="fa fa-envelope"></i> david&#64;t-systems.com</li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i>09:30 am - 10:30 am</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://wsecservices.com/wp-content/uploads/2021/06/SOC4.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>Security</h4>
                                                <h5>(Next generation SOC)</h5>
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Laura Hernandez</li>
                                                    <li><i class="fa fa-envelope"></i>Aitor Aguirre</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i>10:30 am - 11:00 am</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://media.licdn.com/dms/image/v2/D4E0BAQFMd528h0LSZw/company-logo_200_200/company-logo_200_200/0/1729587819497/platform_engineering_org_logo?e=1750291200&v=beta&t=rZLJFQYD9v0Lx6MCyy0ZWh_H3WFLko_N1W5RXKDnhPw" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>Plafform Engineering</h4>
                                                <!-- <h5>(Present and Future)</h5> -->
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Eduard Querol</li>
                                                    <li><i class="fa fa-envelope"></i>Daniel Horta</li>
                                                    <li><i class="fa fa-envelope"></i>Renzo Luján</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 11:00 am - 11:30 am</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://media.licdn.com/dms/image/v2/D5612AQE4VFUizfxzRA/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1712010980503?e=1747267200&v=beta&t=GMhM7p25XHjf7VuKba4QhPUxP50PQMMbuCcKV34LQk8" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>IA Agents</h4>
                                                <h5>(LLM for Business / AI Operation)</h5>
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Marian Draganov</li>
                                                    <!-- <li><i class="fa fa-envelope"></i> john&#64;Colorlib.com</li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 11:30 am - 12:00 pm</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://cdn.vectorstock.com/i/500p/33/66/artificial-intelligence-icon-sign-logo-vector-49693366.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>IA Clients</h4>
                                                <!-- <h5>(LLM for Business / AI Operation)</h5> -->
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Ignacio Herrera</li>
                                                    <!-- <li><i class="fa fa-envelope"></i> john&#64;Colorlib.com</li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 12:00 pm - 12:30 pm</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://img.freepik.com/free-vector/flat-design-data-logo-template_23-2149202842.jpg?semt=ais_hybrid" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>Data Space</h4>
                                                <!-- <h5>(LLM for Business / AI Operation)</h5> -->
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Marian Draganov</li>
                                                    <!-- <li><i class="fa fa-envelope"></i> john&#64;Colorlib.com</li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 12:30 pm - 13:00 pm</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img src="https://logopond.com/logos/7424bb7217f909f7ad13d4839db2affd.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>Ambition 7.0</h4>
                                                <!-- <h5>(LLM for Business / AI Operation)</h5> -->
                                                <ul>
                                                    <li><i class="fa fa-user"></i>Marian Draganov</li>
                                                    <!-- <li><i class="fa fa-envelope"></i> john&#64;Colorlib.com</li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 13:00 pm - 13:30 pm</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="sc-pic">
                                                <img src="img/schedule/schedule-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="sc-text">
                                                <h4>Dealing with Easy People</h4>
                                                <ul>
                                                    <li><i class="fa fa-user"></i> John Smith</li>
                                                    <li><i class="fa fa-envelope"></i> john&#64;Colorlib.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i> 08:00 am - 10:00 am</li>
                                                <li><i class="fa fa-map-marker"></i>Barcelona</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Repeat similar structure for other events -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

